li:hover{
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    
}
#container {
    background-color: rgb(243, 243, 243);
  }
  ul{
      border: 1px solid black;
      height: 400px;
      overflow: auto;
  }

  i {
    cursor: pointer;
    font-size: 18px;

    width: 30px;
  }
  i:hover {
    color: red;
  }
  