li:hover{
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    
}
body{
    background-color: rgb(248, 248, 248);
}
  ul{
      
      height: 350px;
      overflow: auto;
  }

  i {
    cursor: pointer;
    font-size: 18px;

    width: 30px;
  }
  i:hover {
    color: red;
  }
  